<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h3>Create New Listing</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" id="title" name="listing[title]" class="form-control" required
                        placeholder="Add a catchy title">
                    <div class="valid-feedback">
                        Title looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea id="description" name="listing[description]" class="form-control"
                        placeholder="Add a detailed description" required></textarea>
                    <div class="invalid-feedback">
                        Please provide a description.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image:</label>
                    <input type="file" id="image" name="listing[image][url]" class="form-control" required>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input id="price" name="listing[price]" class="form-control" placeholder="1200" required>
                        <div class="invalid-feedback">
                            Please provide a valid price.
                        </div>
                    </div>


                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" id="country" name="listing[country]" class="form-control" placeholder="India"
                            required>
                        <div class="invalid-feedback">
                            Please provide a country.
                        </div>
                    </div>
                </div>


                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" id="location" name="listing[location]" class="form-control"
                        placeholder="Jaipur, Rajasthan" required>
                    <div class="invalid-feedback">
                        Please provide a location.
                    </div>
                </div>

                <button type="submit" class="btn btn-dark add-btn mb-3">Add</button>
            </form>
        </div>
    </div>